<!DOCTYPE html>
<html>
<head>
    <title>Confirmation</title>
    <style>
        .text {
            color: darkslategray;
        }
        .container {
            text-align: center;
            background-color: gray;
            background-color: #f0f0f0;
            background-image: linear-gradient(to bottom, #f0f0f0, #918f8f);
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text">Thank you for contacting us!</h1>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Email:</strong> {{ email }}</p>
    <p><strong>Country:</strong> {{ country }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
    <p><strong>Gender:</strong> {{ gender }}</p>
    <p><strong>Reason for contact:</strong> {{ reason }}</p>
</div>
</body>
</html>